# Secciones Electorales en Zacatecas
Resolveremos esta actividad con la ayuda de Copilot.

In [4]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 5.9 MB/s eta 0:00:0000:01
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [5]:
# Abre el archivo de la url https://www.ine.mx/wp-content/uploads/2023/01/DatosAbiertos-derfe-pdln_edms_sexo_20230921.xlsx y lo guarda en la variable df 
import pandas as pd

df = pd.read_excel('https://www.ine.mx/wp-content/uploads/2023/01/DatosAbiertos-derfe-pdln_edms_sexo_20230921.xlsx')

In [7]:
# Muestra los primeros renglones del DataFrame
df.head(10)

,CLAVE\nENTIDAD,NOMBRE\nENTIDAD,CLAVE\nDISTRITO,NOMBRE\nDISTRITO,CLAVE\nMUNICIPIO,NOMBRE\nMUNICIPIO,SECCION,PADRON\nHOMBRES,PADRON\nMUJERES,PADRON\nNO BINARIO,PADRON\nELECTORAL,LISTA\nHOMBRES,LISTA\nMUJERES,LISTA\nNO BINARIO,LISTA\nNOMINAL
0,1,RESIDENTES EXTRANJERO,0.0,0,0.0,0,0.0,7632,5294,0,12926,2945,2263,0,5208
1,1,AGUASCALIENTES,1.0,JESUS MARIA,2.0,ASIENTOS,338.0,959,986,0,1945,947,975,0,1922
2,1,AGUASCALIENTES,1.0,JESUS MARIA,2.0,ASIENTOS,339.0,881,936,0,1817,875,934,0,1809
3,1,AGUASCALIENTES,1.0,JESUS MARIA,2.0,ASIENTOS,340.0,944,989,0,1933,930,972,0,1902
4,1,AGUASCALIENTES,1.0,JESUS MARIA,2.0,ASIENTOS,341.0,1162,1177,0,2339,1153,1157,0,2310
5,1,AGUASCALIENTES,1.0,JESUS MARIA,2.0,ASIENTOS,342.0,852,887,0,1739,843,872,0,1715
6,1,AGUASCALIENTES,1.0,JESUS MARIA,2.0,ASIENTOS,343.0,1663,1751,0,3414,1652,1740,0,3392
7,1,AGUASCALIENTES,1.0,JESUS MARIA,2.0,ASIENTOS,344.0,1371,1399,0,2770,1356,1393,0,2749
8,1,AGUASCALIENTES,1.0,JESUS MARIA,2.0,ASIENTOS,345.0,1141,1250,0,2391,1134,1242,0,2376
9,1,AGUASCALIENTES,1.0,JESUS MARIA,2.0,ASIENTOS,346.0,957,1001,0,1958,953,995,0,1948

In [8]:
#Filtra por CLAVE\nENTIDAD el caso 32 (Zacatecas), asigno el resulta a otro DataFrame e imprime los primeros renglones
df2 = df[df['CLAVE\nENTIDAD'] == 32]
print(df2.shape)
df2.head()

(1787, 15)

,CLAVE\nENTIDAD,NOMBRE\nENTIDAD,CLAVE\nDISTRITO,NOMBRE\nDISTRITO,CLAVE\nMUNICIPIO,NOMBRE\nMUNICIPIO,SECCION,PADRON\nHOMBRES,PADRON\nMUJERES,PADRON\nNO BINARIO,PADRON\nELECTORAL,LISTA\nHOMBRES,LISTA\nMUJERES,LISTA\nNO BINARIO,LISTA\nNOMINAL
68997,32,RESIDENTES EXTRANJERO,0.0,0,0.0,0,0.0,29423,22869,0,52292,11576,9577,0,21153
68998,32,ZACATECAS,1.0,FRESNILLO,9.0,CHALCHIHUITES,114.0,310,291,0,601,301,286,0,587
68999,32,ZACATECAS,1.0,FRESNILLO,9.0,CHALCHIHUITES,115.0,327,317,0,644,321,309,0,630
69000,32,ZACATECAS,1.0,FRESNILLO,9.0,CHALCHIHUITES,116.0,242,312,0,554,240,304,0,544
69001,32,ZACATECAS,1.0,FRESNILLO,9.0,CHALCHIHUITES,117.0,158,197,0,355,153,195,0,348

In [9]:
# De la columna SECCION, elimina valor cero y reporta su longitud
df3 = df2[df2['SECCION']!=0]
print(df3.shape)
df3.head()

(1786, 15)

,CLAVE\nENTIDAD,NOMBRE\nENTIDAD,CLAVE\nDISTRITO,NOMBRE\nDISTRITO,CLAVE\nMUNICIPIO,NOMBRE\nMUNICIPIO,SECCION,PADRON\nHOMBRES,PADRON\nMUJERES,PADRON\nNO BINARIO,PADRON\nELECTORAL,LISTA\nHOMBRES,LISTA\nMUJERES,LISTA\nNO BINARIO,LISTA\nNOMINAL
68998,32,ZACATECAS,1.0,FRESNILLO,9.0,CHALCHIHUITES,114.0,310,291,0,601,301,286,0,587
68999,32,ZACATECAS,1.0,FRESNILLO,9.0,CHALCHIHUITES,115.0,327,317,0,644,321,309,0,630
69000,32,ZACATECAS,1.0,FRESNILLO,9.0,CHALCHIHUITES,116.0,242,312,0,554,240,304,0,544
69001,32,ZACATECAS,1.0,FRESNILLO,9.0,CHALCHIHUITES,117.0,158,197,0,355,153,195,0,348
69002,32,ZACATECAS,1.0,FRESNILLO,9.0,CHALCHIHUITES,118.0,199,233,0,432,193,228,0,421

In [10]:
# Descarga el archivo zip de la liga https://cartografia.ife.org.mx/tmp/zips/Csecc-32.zip y desempaca los archivo que contiene
import requests, zipfile, io
r = requests.get('https://cartografia.ife.org.mx/tmp/zips/Csecc-32.zip')
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()

In [19]:
# Lista los archivo en z
z.namelist()

['Catalogo de Secciones.mdb',
 'Catalogo de Secciones.txt',
 'Catalogo de Secciones.xls']

In [11]:
# Copia el archivo excel en z en un DataFrame
df4 = pd.read_excel(z.open('Catalogo de Secciones.xls'))
print(df4.shape)
df4.head()

(1798, 7)

,ENTIDAD,NOMBRE ENTIDAD,DISTRITO,MUNICIPIO,NOMBRE MUNICIPIO,SECCION,TIPO
0,32,ZACATECAS,1,9,CHALCHIHUITES,114,MIXTO(A)
1,32,ZACATECAS,1,9,CHALCHIHUITES,115,MIXTO(A)
2,32,ZACATECAS,1,9,CHALCHIHUITES,116,URBANO(A)
3,32,ZACATECAS,1,9,CHALCHIHUITES,117,URBANO(A)
4,32,ZACATECAS,1,9,CHALCHIHUITES,118,URBANO(A)

In [12]:
type(df4)

pandas.core.frame.DataFrame

In [53]:
# Imprime los valores de df4['SECCION'] que no están en df3['SECCION']
df4.loc[~df4["SECCION"].isin(df3["SECCION"]), ['NOMBRE MUNICIPIO', 'SECCION']]

                  NOMBRE MUNICIPIO  SECCION
80                       FRESNILLO      194
210                      FRESNILLO      331
279                    MIGUEL AUZA      903
395                     SOMBRERETE     1380
491                       ATOLINGA       30
519   TRINIDAD GARCIA DE LA CADENA      358
582                          JALPA      597
651                          JEREZ      668
683                          JEREZ      703
742                      LUIS MOYA      801
753              MEZQUITAL DEL ORO      881
812            NOCHISTLAN DE MEJIA      986
814            NOCHISTLAN DE MEJIA      990
829            NOCHISTLAN DE MEJIA     1008
831            NOCHISTLAN DE MEJIA     1013
832            NOCHISTLAN DE MEJIA     1014
900                        TABASCO     1406
913                    TEPECHITLAN     1421
944                      TEPETONGO     1461
973   TLALTENANGO DE SANCHEZ ROMAN     1500
982   TLALTENANGO DE SANCHEZ ROMAN     1509
1043                    VILLANUEVA     1762
1063                        CALERA       48
1101            CONCEPCION DEL ORO       89
1205                       MAZAPIL      865
1307                   EL SALVADOR     1288
1362                  VILLA DE COS     1658
1585                     GUADALUPE      549
1750                  VILLA GARCIA     1674

In [83]:
# how many gaps are there in the sequence of df3['SECCION'] sorted
lsecc = sorted(list(df3['SECCION']))
N = len(lsecc)
i = 1
gaps = 0
while i<=N-1:
    if lsecc[i] != lsecc[i-1]+1:
        gaps += 1
    i += 1
print(gaps)

129

In [91]:
# how many gaps are there in the sequence of df3['SECCION'] sorted
sum(df3['SECCION'].sort_values().diff().value_counts().iloc[1:])

129